 {% extends "layouts/base.html" %} {% block title %} About Us {% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}





<!--banner-->
<div class="welcome-banner set-bgwelcome" data-setbg="/static/images/slide06.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center ml-b-30">
            <div class="col-lg-10 text-center mrb-30">
                <div class="welcome-banner-content">

                    <div class="breadcrumb-area">
                        <h2 class="title">
                            About
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="https://africgoldm.com">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner-->
<script src="/static/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

<!--banner-->


<!--about section-->
<section class="ptb-8 " id="about2">
    <div class="container">
        <div class="row">
            <div class="col-8 aboutbox  fadeInLeft">
                <h3 class="text-wt">About <span class="text-prim">US</span></h3>
                <p class="medium-paragraph">
                    AFRICGOLD is a dual-purpose platform made up of subsidiaries that provide an opportunity to utilize AFGOLD Virtual mining technique, which is intended for evaluating mining revenue and as well as conversion of AFGOLD units to real word money and cash
                    out as at when due.
                </p>
                <div class="about-item-area ml-b-30">
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="las la-database"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Performance</h3>
                            <p>Ultimate performance at low cost</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-globe"></i> </div>
                        <div class="about-details">
                            <h3 class="title">World Wide Mining</h3>
                            <p>Servicing thousands of users from many countries</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-coins"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Multiple Cryptocurrencies</h3>
                            <p>We are offering mining for the next generation coin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 section-2-box animated fadeInUp text-center justify-content-center align-items-center">
                <a href="#"><img src="/static/images/about-us.png" alt="about-us"></a>
            </div>
        </div>
    </div>
</section>
<!--about section-->







{% endblock content %} {% block javascripts %} {% endblock javascripts %}