 {% extends "layouts/base.html" %} {% block title %} Pricing {% endblock title %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}











<!--banner-->
<div class="welcome-banner set-bgwelcome" data-setbg="/static/images/slide06.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center ml-b-30">
            <div class="col-lg-10 text-center mrb-30">
                <div class="welcome-banner-content">

                    <div class="breadcrumb-area">
                        <h2 class="title">PACKAGES</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="https://africgoldm.com">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">PACKAGES</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner-->
<script src="/static/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

<!--banner-->


<!--pricing section-->
<section class="ptb-8 " id="pricing">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">AFFORDABLE <span>PACKAGES</span></h2>
                <div class="title-head-subtitle">
                    <p>Choose a plan that best suite you</p>
                </div>
            </div>


        </div>
        <!-- Section Title Ends -->
        <div class="row justify-content-center">

            <div class="col-lg-3">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Expert</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $5000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $1000 </li>
                        <li><i class="fa fa-check-circle"></i> 30% After 96hours</li>
                        <li><i class="fa fa-check-circle"></i>Leverage: x50</li>
                        <li><i class="fa fa-check-circle"></i>Daily Signals</li>
                    </ul>
                    <a class="" href="/register">Signup</a>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Expert</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $5000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $1000 </li>
                        <li><i class="fa fa-check-circle"></i> 30% After 96hours</li>
                        <li><i class="fa fa-check-circle"></i>Leverage: x50</li>
                        <li><i class="fa fa-check-circle"></i>Daily Signals</li>
                    </ul>
                    <a class="" href="/register">Signup</a>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Expert</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $5000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $1000 </li>
                        <li><i class="fa fa-check-circle"></i> 30% After 96hours</li>
                        <li><i class="fa fa-check-circle"></i>Leverage: x50</li>
                        <li><i class="fa fa-check-circle"></i>Daily Signals</li>
                    </ul>
                    <a class="" href="/register">Signup</a>
                </div>

            </div>

        </div>
        <div class="row justify-content-center">

            <div class="col-lg-3">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Expert</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $5000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $1000 </li>
                        <li><i class="fa fa-check-circle"></i> 30% After 96hours</li>
                        <li><i class="fa fa-check-circle"></i>Leverage: x50</li>
                        <li><i class="fa fa-check-circle"></i>Daily Signals</li>
                    </ul>
                    <a class="" href="/register">Signup</a>
                </div>

            </div>

        </div>
    </div>
</section>
<!--pricing section-->



{% endblock content %} {% block javascripts %} {% endblock javascripts %}