 {% extends "layouts/user-layout.html" %} {% load static %}{% block title %} account Logs {% endblock title %} {% block stylesheet %}



<style>
    label {
        color: #fff;
    }
    
    th {
        color: #fff;
    }
</style>
{% endblock stylesheet %} {% block content %}



<div class="  align-items-center    mb-4">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">History</li>
    </ol>
</div>

{% if transactions %}

<div class="row">
    <div class="col-xl-12">
        <div class="table-responsive mt-3">
            <table class="table   table-borderless">
                <thead>
                    <tr>
                        <th scope="col text-white">Activity</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in transactions %}
                    <tr>
                        <td scope="row"><span class="text-success">{{ obj.trans_type }}</span></td>
                        {% if obj.status == 'pending' %}
                        <td class="text-warning">pending</td>
                        {% elif obj.status == 'declined' %}
                        <td class="text-danger">declined</td>
                        {% else %}
                        <td class="text-success">approved</td>
                        {% endif %}
                        <td class="text-muted">{{ obj.date }}</td>
                        <td class="d-flex justify-content-end align-items-center text-success"> ${{ obj.amount }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% else %}





<div class="row d-flex justify-content-center">
    <div class="col-xl-8 mt-5">
        <div class="card   mt-5 " style="padding: 20px;">
            <div class="text-center">
                <h5 class="text-white">No Current Transaction</h5>

            </div>
        </div>
    </div>

</div>

{% endif %} {% endblock content %} {% block scripts %} {% endblock scripts %}